<blockquote>
  <p>Daereum is an experimental digital asset that makes it easy to make payments to anyone, anywhere in the world.</p>
  <footer><a href="https://daeplatform.net/daereum/" target="_blank">https://daeplatform.net/daereum/</a></footer>
</blockquote>